<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Encabezado de la vista del carrito -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito de Compras</title>
</head>
<body>

  <h1>Carrito de Compras</h1>

  {{#if cart.products}}
    <!-- Lista de productos en el carrito -->
    <ul>
      {{#each cart.products}}
        <li>
          <h2>Producto: {{this.product.title}}</h2>
          <p>Descripción: {{this.product.description}}</p>
          <p>Precio: {{this.product.price}}</p>
          <p>Cantidad: {{this.quantity}}</p>
        </li>
      {{/each}}
    </ul>
   <h3>Total del carrito: {{ticket.amount}}</h3>
    {{#if ticket}}
      <h3>Total de la compra: {{ticket.amount}}</h3>
    {{/if}}

    <!-- Botón para finalizar la compra -->
    <form action="http://localhost:8080/carts/{{cart._id}}/purchase" method="POST">
      <button type="submit">Finalizar compra</button>
    </form>

  {{else}}
    <!-- Mensaje si el carrito está vacío -->
    <p>El carrito está vacío.</p>
  {{/if}}

</body>
</html>